.btn-flotante {
    position: fixed;
    left: 30px;
    top: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* tema 2 */
.tema2-contenedor {
    z-index: 1px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
    background-image: url(./assets/img/school-supplies-still-life-high-angle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculadora2 {
    border: 5px solid rgb(219, 28, 108);
    padding: 30px 20px 30px 20px;
    background-color: #ffffff;
    height: 620px;
    width: 420px;
    border-radius: 15px;
    font-size: 40px;
    box-shadow: 15px 10px 5px 5px rgba(51, 49, 49, 0.685);
}

.texto2 {

    padding-left: 15px;
    border: 10px solid rgb(187, 34, 60);
    border-radius: 10px;
    background-color: #c79cc1;
    max-width: 340px;

    height: 100px;
    text-align: end;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: 15px 15px 40px 15px;
}

.boton2 {
    background: linear-gradient(rgb(202, 64, 214), rgb(226, 109, 201), white);
    box-shadow: 0px 5px 10px 0px #535151;
    border: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform: scale(1.0);

}

.boton2:hover {
    background: linear-gradient(rgb(202, 64, 214), rgb(226, 109, 201), white);
    box-shadow: 0px 5px 10px 0px #535151;
    border: none;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform: scale(0.9);
}

.operadores2 {
    transform: scale(1.0);

    padding-top: 8px;
    box-shadow: 0px 5px 10px 2px rgb(87, 83, 83);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(rgb(170, 14, 105), rgb(187, 15, 115), rgb(186, 68, 197));
}

.operadores2:hover {
    transform: scale(0.9);

    padding-top: 8px;
    box-shadow: 0px 5px 10px 2px rgb(81, 84, 85);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(rgb(166, 28, 179), rgb(139, 14, 101), rgb(224, 63, 216));
}

.delete2 {
    padding-top: 8px;
    box-shadow: 0px 5px 10px 2px rgb(120, 121, 121);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(rgb(138, 54, 207), rgb(198, 68, 238), rgb(216, 89, 216));
    transform: scale(1.0);
}

.delete2:hover {
    padding-top: 8px;
    box-shadow: 0px 5px 10px 2px rgb(124, 125, 126);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 80px;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(rgb(141, 15, 199), rgb(162, 86, 197), rgb(154, 65, 189));
    transform: scale(0.9);
}

.btn-C2 {
    box-shadow: 0px 5px 10px 0px rgb(27, 27, 27);
    border: none;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(rgb(192, 5, 130), rgb(223, 6, 125), white);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.0);

}

.btn-C2:hover {
    transform: scale(0.9);
    box-shadow: 0px 5px 10px 0px rgb(27, 27, 27);
    border: none;
    width: 130px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(rgb(192, 5, 120), rgb(211, 32, 166), white);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* tema1 */
.contenedor {
    z-index: 1px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 15px;
    background-image: url(./assets/img/numerology-concept-composition.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculadora {
    border: 5px solid rgb(240, 240, 240);
    padding: 30px 20px 30px 20px;
    background-color: #131212;
    height: 620px;
    width: 420px;
    border-radius: 15px;
    font-size: 40px;
    box-shadow: 15px 10px 5px 5px rgba(51, 49, 49, 0.685);
}

.contenedor-de-dos-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 420px;

}

.texto1 {
    padding-left: 15px;
    border: 8px solid white;
    border-radius: 20px;
    background-color: #9198a1;
    max-width: 340px;

    height: 100px;
    text-align: end;
    box-sizing: border-box;
    color: rgb(31, 23, 23);
    margin: 15px 15px 40px 15px;
}

.numeros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    width: 400px;
    height: 400px;
}

.boton1 {
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgb(158, 36, 36);

    border: none;
    color: rgb(39, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transform: scale(1.0);

}

.boton1:hover {
    transform: scale(0.9);
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgb(185, 44, 44);

    border: none;
    color: rgb(39, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}


.contenedor-de-operadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 150px;
    height: 400px;
}

.operadores {
    transform: scale(1.0);

    padding-top: 8px;
    box-shadow: 0px 5px 10px 3px rgb(70, 69, 68);

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: orange;
}

.operadores:hover {
    transform: scale(0.9);

    padding-top: 8px;
    box-shadow: 0px 5px 10px 0px rgb(27, 27, 27);

    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: orange;
}
    .btn-C {
        box-shadow: 0px 5px 10px 0px rgb(49, 52, 197);
        border: none;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.0);

    }

    .btn-C:hover {
        transform: scale(0.9);
        box-shadow: 0px 5px 10px 0px rgb(21, 67, 194);
        border: none;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete {
        padding-top: 8px;
        box-shadow: 0px 5px 10px 0px rgb(49, 52, 197);


        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        width: 80px;
        height: 60px;
        border-radius: 5px;
        background-color: red;
        transform: scale(1.0);
    }

    .delete:hover {
        padding-top: 8px;
        box-shadow: 0px 5px 10px 0px rgb(49, 52, 197);

        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        width: 80px;
        height: 60px;
        border-radius: 5px;
        background-color: red;
        transform: scale(0.9);
    }